body, html {
	margin: 0px;
	background-color: black;
    overflow: hidden;
    height: 100%;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}
#container {
	display: flex;
	height: 100vh;
	align-content: center;
	align-items: center;
	position: absolute;
	top: 0px;

}
video {
	flex: 1 1 100vw;
	align-self: center;
	width: 100vw;
/*transform: translateY(-50%);*/
}

.draw {
	position: absolute;
	top: 0px;
	left: 0px;
}

#render canvas{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#htmlUI {
	position: absolute;
	top: 0px;
	background: #00AFEF;

	width: 100vw;
	height: 100vh;
}