body, html {
	margin: 0px;
	background-color: black;
    overflow: hidden;
    height: 100%;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

video {
	width: 100%;
}

.draw {
	position: absolute;
	top: 0px;
	left: 0px;
}