@font-face {
	font-family:"TeXGyreAdventor";
	src:url("./fnt/texgyreadventor-regular.woff") format("woff"),url("./fnt/texgyreadventor-regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Droid-sans";
	src:url("./fnt/DroidSans.ttf") format("truetype"),url("./fnt/DroidSans-Bold.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

@media (max-width: 1000px) {
	.row {
		flex-direction: column;

		> * {
			margin: 10 auto 0 auto !important;
		}
	}
}


body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Droid-sans; 
	perspective: 300px;
	overflow-x: hidden;
    overflow-y: auto;
}


section {
	width: 100%;
	display: flex;
	height: 80vh;
	transform-style: preserve-3d;
	position: relative;

	&.paralax {

		background-image: url("./img/Background.jpg");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		
	}

	> .content {
		/*background-color: white;*/
		border-top: 2px solid black;
		border-bottom: 2px solid black;

		margin: auto;
		flex: 1 1;
		text-align: center;

		h1 {
			font-size: 3em;
		}
	}
}



.row {
	display: flex;
	justify-content: center;

	 > * {
	 }
}

a {
	color: black;
}

.static {

	> * {
		position: fixed;
	}

	> #to-game {
		right: 50px;
		bottom: -34px;
		padding: 6px 12px 6px 12px;
		display: block;
		font-size: 1.2em;
		color: black;
		/* background-color: white; */
		transition: color 0.1s;
		text-decoration: none;
		border-bottom: 2px black solid;
		perspective: 800px;
		transition: all 0.5s;
		opacity: 0;
	

		&.show{
			bottom: 40px;
			opacity: 1;
		}

		&:before {
			content: "";
			position: absolute;
			background: #CCC;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			z-index: -1;
			/* border-radius: 3px; */
			transform: rotatex( 90deg );
			transform-origin: bottom;
			transition: transform 0.15s ease-in;

		}

		&:hover:before {
			right: 0;
			transform: rotatex( 0deg );

		} 

	}
}

#landing {
	height: 100vh;

	background-image: url("./img/Background.jpg");

	img {
		margin: 0px;
		transform: rotate(180deg);
		position: relative;

		top: 20vh;
	}

	h1, h2{
		font-family: Helvetica, Verdana, sans-serif;
		color: white;
	}

	h1 {
		font-size: 4em;
		margin: 0px;
	}

	h2 {

	}

	.button {
		font-weight: bold;
		text-decoration: inherit;

		margin: 10px;
		border: white 3px solid;
		display: inline-block;
		width: 200px;
		color: white;
		padding: 10px;
		box-sizing: border-box;
		border-radius: 2px;
		background: none;
		position: relative;
		z-index: 1;

		transition: background-color .4s, color .4s;

		font-family: TeXGyreAdventor,Verdana, sans-serif;

	}

	.button:hover{
		background-color: #FFF;
		color: #000;
	}
	
	.button-slide {
		text-decoration: inherit;

		margin: 10px;
		border: white 3px solid;
		display: inline-block;
		width: 200px;
		color: white;
		padding: 10px;
		box-sizing: border-box;
		border-radius: 2px;
		background: none;
		position: relative;
		z-index: 1;

		background-image: linear-gradient(white, white);

		background-position: 50% 50%;
		background-size: 100% 0%;
		background-repeat: no-repeat;
		transition: background-size .3s, color .3s;

		font-family: TeXGyreAdventor,Verdana, sans-serif;

	}

	.button-slide:hover{
		background-size: 100% 100%;
		color: #000;
	}
	

/*	.button:before {
		content: "";
		position: absolute;
		background: white;
		bottom: 0;
		left: 0;
		right: 0;
		top: 100%;
		z-index: -1;
		transition: top 0.09s ease-in;
	}

	.button:hover:before {
		top: 0;

	} */

}

.text {
	background-color: blue;
}
