@font-face {
	font-family:"TeXGyreAdventor";
	src:url("./fnt/texgyreadventor-regular.woff") format("woff"),url("./fnt/texgyreadventor-regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Droid-sans";
	src:url("./fnt/DroidSans.ttf") format("truetype"),url("./fnt/DroidSans-Bold.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"steinemu";
	src:url("./fnt/STEINEMU.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}


@media (max-width: 750px) {
	.row {
		flex-direction: column;

		> * {
			margin: 10 auto 0 auto !important;
		}
	}

	section {
		height: auto !important;
		padding: 15px;
		> .content {
			.full-image {
				height: 50% !important;
			}
		}
	}
}

@keyframes float{
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, -10px);
	}
	to {
		transform: translate(0, -0px);

	}
}

@keyframes float-small{
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, -5px);
	}
	to {
		transform: translate(0, -0px);

	}
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica; 
}


section {
	width: 100%;
	display: flex;
	height: 50vh;
	transform-style: preserve-3d;
	position: relative;
	font-size: 1.1em;
	background-color: #00AFEF; 
	color: white;
	
	&.paralax {
		min-height: 500px;

		background-image: url("./img/Background.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;

		h1 {
			animation-name: float;
			animation-iteration-count: infinite;
			animation-duration: 3s;
			animation-timing-function: ease-in-out;
		}
	}

	> .content.show {
		opacity: 1 !important;
	}

	> .content {
		/*background-color: white;*/
		/* border-top: 2px solid black;
		border-bottom: 2px solid black; */

		margin: auto;
		flex: 1 1;
		text-align: center;
		transition: opacity 1.5s;

		.icon {
			height: 35vh;
			display: inline-block;
			margin-right: 10px;
			transition: opacity 0.5s;
		
			&.flexibility {
				/* src="./img/home_page/guvkavost_animated.png" */
			}

		}

		.full-image {
			height: 100%;
			animation-name: float-small;
			animation-iteration-count: infinite;
			animation-duration: 3s;
			animation-timing-function: ease-in-out;
		}

		

		h1 {
			font-size: 3em;
			font-family: steinemu;
			letter-spacing: 2px;
		}

		> .row {
			margin: 0 10% 0 10%;

			> .icon {
				flex: 1;
			}

			> p {
				font-size: 1.1em;
				flex: 5;
				align-self: center;
				text-align: left;
			}
		}
	}
}

.row {
	display: flex;
	justify-content: center;

	 > * {
	 }
}

a {
	color: blue;
}

.static {

	> * {
		position: fixed;
	}

	> #to-game {
		right: 50px;
		bottom: -34px;
		padding: 6px 12px 6px 12px;
		display: block;
		font-size: 1.2em;
		color: #444;
		background-color: #0096CC;
		transition: color 0.1s;
		text-decoration: none;
		/* border-bottom: 2px black solid; */
		perspective: 800px;
		transition: all 0.5s;
		opacity: 0;
		font-weight: bold;	

		&.show{
			bottom: 40px;
			opacity: 1;
		}

		&:hover {
			color: white;
		}

		&:before {
			content: "";
			position: absolute;
			background: #444;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			z-index: -1;
			/* border-radius: 3px; */
			transform: rotatex( 90deg );
			transform-origin: bottom;
			transition: transform 0.15s ease-in;

		}

		&:hover:before {
			right: 0;
			transform: rotatex( 0deg );

		}

		#close {

		}
	}

	.vid-box
	{
		top: calc(50% - 720px/2);
		left: calc(50% - 1280px/2);
		box-shadow: 0 0 3em #222;

		transform: translateX(0px);
		transition: opacity .9s;
		opacity: 0;
		display: none;


		&.show {
			opacity: 1;
			display: block;
		}
	}
}



#landing {
	height: 100vh !important;

	background-image: url("./img/Background.jpg");
	background-attachment: fixed;
	position: relative;

	> .content {
		opacity: 0;
	}

	a {
		display: block;
		position: absolute;
		margin: 0px;
		transform: rotate(180deg);

		bottom: 0px;
		left: calc(50% - 80px);
		cursor: hand;
		/* transition: all .3s; */

		img {
			z-index: 11;
			transition: all .3s;
/* 			width: 160px;
			height: 160px; */

		}

	}

	a:hover {
		/* left: calc(50% - 90px); */

		img {
/* 			width: 180px;
			height: 180px; */
			transform: scale(1.3);
		}
	}

	/*#logo {
		position: absolute;
		top: calc(50vh - 720px/2);
		left: calc(50vw - 1280px/2);
	}
*/
	#logo {
		position: absolute;
		top: 50vh;
		transform: translate(-640px, -360px) scale(1);
		left: 50vw;
		transition: all .5s;
		z-index: -1;
	}

	#logo.hidden {
		transform: translate(-640px, -360px) scale(0);
	}

	h1, h2{
		font-family: steinemu, Verdana, sans-serif;
		color: white;
		z-index: 10;
	}

	h1 {
		font-size: 4em;
		margin: 0px;
		animation-name: float;
		animation-iteration-count: infinite;
		animation-duration: 3s;
		animation-timing-function: ease-in-out;
	}

	h2 {

	}


	

/*.button:before {
		content: "";
		position: absolute;
		background: white;
		bottom: 0;
		left: 0;
		right: 0;
		top: 100%;
		z-index: -1;
		transition: top 0.09s ease-in;
	}

	.button:hover:before {
		top: 0;

	}	 */

}

.button {
	font-weight: bold;
	text-decoration: inherit;
	margin: 10px;
	border: #444 3px solid;
	display: inline-block;
	width: 200px;
	color: #444;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 2px;
	background: none;
	position: relative;
	z-index: 1;
	transition: background-color .4s, color .4s;
	font-family: TeXGyreAdventor, Verdana, sans-serif;
	font-size: 2em;
}

.button:hover{
	background-color: #444;
	color: white;
}


.button-small {
	font-size: 1em;
	width: 200px;

}

.button-large {
	font-size: 1.5em;
	width: 300px;

}

.button-slide {
	text-decoration: inherit;
	text-align: center;
	margin: 10px;
	border: #444 3px solid;
	display: inline-block;
	color: #444;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 2px;
	background: none;
	position: relative;
	z-index: 1;
	background-image: linear-gradient(#444, #444);
	background-position: 50% 50%;
	background-size: 100% 0%;
	background-repeat: no-repeat;
	transition: background-size .3s, color .3s;
	font-family: TeXGyreAdventor,Verdana, sans-serif;
	font-weight: bold;
}



.button-slide:hover{
	background-size: 100% 100%;
	color: #FFF;
}


.button-black {
	font-weight: bold;
	font-size: 1.5em;

	text-decoration: inherit;
	margin: 10px;
	border: #444 3px solid;
	display: inline-block;
	width: 400px;
	color: #444;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 2px;
	background: none;
	position: relative;
	z-index: 1;
	transition: background-color .4s, color .4s;
	font-family: TeXGyreAdventor,Verdana, sans-serif;
}

.button-black:hover{
	background-color: #444;
	color: white;
}


.text {
	background-color: blue;
}

.button-3d {
	font-weight: bold;
	font-size: 1.5em;

	text-decoration: inherit;
	margin: 10px;
	border: #444 3px solid;
	display: inline-block;
	width: 400px;
	color: #444;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 2px;
	background: none;
	position: relative;
	z-index: 1;
	transition: background-color .4s, color .4s;
	font-family: TeXGyreAdventor,Verdana, sans-serif;
	perspective: 800px;

	&:hover {
		color: white;
	}

	&:before {
		content: "";
		position: absolute;
		background: #444;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		/* border-radius: 3px; */
		transform: rotatex( 90deg );
		transform-origin: bottom;
		transition: transform 0.15s ease-in;
	}

	&:hover:before {
		right: 0;
		transform: rotatex( 0deg );

	}
}

.button-3d:hover{
	background-color: #444;
	color: white;
}




#sources {
	display: none;
	flex-direction: column;

	> * {
		text-align: left;
		margin: auto;
		flex:1;
	}
}

