
body {
	background-image: url("./Background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 3%; 
}

video {
	width: 100%;
}


.alert_img
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

@import url(https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css);
